.self-pickup-selection {
  h3 {
    font-size: 20px;
    letter-spacing: 4.4px;
    font-weight: 700;
    margin: 47px 0px 10px 0px;
  }
  .create_account-branches {
    min-height: 202px;
    padding-top: 30px;
    margin-bottom: 39px;
    .create_account-branch {
      border-bottom: 1px solid #BDC1C9;
      padding-bottom: 8px;
      margin-bottom: 19px;
      &:last-child {
        border: none;
      }
      input {
        display: none;
      }
      label {
        padding-bottom: 5px;
        font-size: 14px;
        cursor: pointer;
        padding-right: 116px;
        position: relative;
        background-image: url(/assets/images/car_g.svg);
        background-repeat: no-repeat;
        background-position: right 57px top;
        &:before {
          content: '';
          display: block;
          position: absolute;
          right: 2px;
          top: 0px;
          height: 26px;
          width: 26px;
          border: 1px solid #B1BCC9;
          border-radius: 20px;
          background-color: #FFFFFF;
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.06);
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 8px;
          top: 4px;
          width: 15px;
          height: 16px;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url(/assets/images/checkbox-notchecked.svg);
        }
      }
      input:checked + label {
        font-weight: 700;
        color: #004fa1;
        background-image: url(/assets/images/car.svg);
        &:before {
          border-color: #004FA1;
        }
        &:after {
          background-image: url(/assets/images/checkbox-checked.svg);
        }
      }
    }
  }
}
