<div class="form-group form-group-textarea" [ngClass]="{'no-description': !description}">
    <div class="title-placeholder1">
      <label [for]="elementId"></label>
      <textarea
        id="{{elementId}}"
        class="form-control"
        maxlength="{{maxlength}}"
        [ngClass]="{'is-invalid': control.invalid && control.dirty && control.touched, 'have-value': control.value && control.value.toString().length}"
        [formControl]="control"
        (blur)="onBlur($event)"
        (focus)="onFocus()"
        (change)="onChange()"
        rows="{{rows}}">
      </textarea>
    </div>
  </div>
