<div class="form-group form-input" [ngClass]="{'no-description': !description}">
    <div class="title-placeholder">
      <input
        *ngIf="type === 'number'"
        type="{{type}}"
        id="{{elementId}}"
        rc-only-numbers
        class="form-control"
        maxlength="{{maxlength}}"
        [ngClass]="{'no-description': !description, 'is-invalid': control.invalid && control.dirty, 'have-value': !isNullOrUndefined(control.value) && control.value.toString().length, 'disabledBg': disabledBg}"
        [formControl]="control"
        (input)="onInput()"
        (blur)="onBlur($event)"
        (focus)="onFocus()"
        (change)="onChange()"
        [attr.disabled]="disabled == true ? true : null">
      <input
        *ngIf="type !== 'number'"
        type="{{type}}"
        id="{{elementId}}"
        class="form-control"
        maxlength="{{maxlength}}"
        [ngClass]="{'is-invalid': control.invalid && control.dirty, 'have-value': control.value && control.value.toString().length, 'disabledBg': disabledBg}"
        [formControl]="control"
        (input)="onInput()"
        (blur)="onBlur($event)"
        (focus)="onFocus()"
        (change)="onChange()"
        [attr.disabled]="disabled == true ? true : null">
      <!-- <label [for]="elementId">
        <a *ngIf="showButton && buttonAction" href="javascript:;" class="btn btn-red btn-search"
           (click)="onButtonClick()">{{buttonText | rcTranslate}}</a>
        <div>
          <span [ngClass]="{required: required}">{{ placeholder | rcTranslate }}</span>
        </div>
      </label>
      <small *ngIf="description">{{ description | rcTranslate }}</small>
      <div class="show-password" *ngIf="(control.value && control.value.length) && showPasswordEye"
           (mousedown)="showPassword()"
           (mouseup)="hidePassword()"
           (mouseout)="hidePassword()"
      ></div>
      <div class="invalid-feedback" *ngIf="control.hasError('invalidCharacters')">{{ invalidCharactersError | rcTranslate
        }}
      </div>
      <div class="invalid-feedback" *ngIf="control.hasError('required')">{{ requiredError | rcTranslate }}</div>
      <div class="invalid-feedback" *ngIf="control.hasError('pattern')">{{ invalidPatternError | rcTranslate }}</div>
      <div class="invalid-feedback" *ngIf="control.hasError('specificLength')">{{ invalidSpecificLengthError | rcTranslate}}
      </div>
      <div class="invalid-feedback" *ngIf="control.hasError('minlength') || control.hasError('maxlength')">{{ invalidLengthError | rcTranslate }}
      </div>
      <div class="invalid-feedback" *ngIf="control.hasError('max')">{{ errorMax | rcTranslate : translateParams }}</div>
      <div class="invalid-feedback" *ngIf="control.hasError('matchPassword')">{{ matchPasswordError | rcTranslate : translateParams }}</div> -->
  
    </div>
  </div>
  