
<app-header></app-header>
<div class = "create_account">
    <div class="container create_account-wrapper">
      <!-- <img *ngIf="!registerSuccess && currentStep === 1" rc-image src="/assets/images/icon.png" class="register-image">
      <img *ngIf="!registerSuccess && currentStep === 2" rc-image src="/assets/images/icon.png" class="register-image">
      <img *ngIf="!registerSuccess && currentStep === 3" rc-image src="/assets/images/icon.png" class="register-image">
      <img *ngIf="registerSuccess" rc-image src="/assets/images/icon.png" class="register-image" [ngClass]="{'success-img' : registerSuccess}">
   -->
      <div class="create_account-nav">
        <h1>{{'registration.mainTitle' | rcTranslate}}</h1>
        <!-- <div class="create_account-steps">
          <div class="create_account-step" [ngClass]="{'done' : currentStep > steps.step1 }"
               (click)="stepClick(steps.step1)"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="['/registration/personalDetails']">
            <div class="create_account-step-num">{{steps.step1}}</div>
            <div class="create_account-step-name">{{'registration.stepName_1' | rcTranslate}}</div>
          </div>
          <div class="create_account-step" [ngClass]="{'done' : currentStep > steps.step2 }"
               (click)="stepClick(steps.step2)"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="['/registration/address']">
            <div class="create_account-step-num">{{steps.step2}}</div>
            <div class="create_account-step-name">{{'registration.stepName_2' | rcTranslate}}</div>
          </div>
          <div class="create_account-step" [ngClass]="{'done' : currentStep > steps.step3 }"
               (click)="stepClick(steps.step3)"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="['/registration/password']">
            <div class="create_account-step-num">{{steps.step3}}</div>
            <div class="create_account-step-name">{{'registration.stepName_3' | rcTranslate}}</div>
          </div>
        </div> -->
      </div>
      <div class="create_account-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  

  <app-footer></app-footer>
  