<div class="step1-personal-details">
  <div class="details">
    <!-- <app-form-personal-details
      [firstNameControl]="firstNameControl"
      [lastNameControl]="lastNameControl"
      [idNumberControl]="idNumberControl"
      [mobilePrfsControl]="mobilePrfsControl"
      [mobileControl]="mobileControl"
      [extraPhonePrfsControl]="extraPhonePrfsControl"
      [extraPhoneControl]="extraPhoneControl"
      [emailControl]="emailControl">

    </app-form-personal-details> -->
    test 1 
    <div class="actions">
      <button class="submit" (click)="submit()">{{ 'registration.step1.personalDetails.btnText' | rcTranslate }}</button>
    </div>
  </div>
</div>
