<header>

  <!--The content below is only a placeholder and can be replaced.-->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-red scrolling-navbar intro-fixed-nav" [containerInside]="true">
    <logo>
      <a class="logo navbar-brand" href="#">
        <strong>Regalo</strong>
        <div style="float: right;margin-left: 3px;">
          <img src="/assets/images/icon.png" width="30px;" height="30px;"/>
        </div>
      </a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbRippleRadius>
          <a herf="javascript:;" routerLink="/" class="nav-link">בית</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a herf="javascript:;" class="nav-link" (click)="toBusinessLoginRegister()">כניסה ללקוחות
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- <app-header-home-page></app-header-home-page>
 -->

  <ng-template #popupLogin>
    <app-popup-wrapper [modalRef]="modalRef">
      <app-popup-login [modalRef]="modalRef"></app-popup-login>
    </app-popup-wrapper>
  </ng-template>


</header>