<header>

  <!--The content below is only a placeholder and can be replaced.-->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-red scrolling-navbar intro-fixed-nav" [containerInside]="true">
    <logo>
      <a class="logo navbar-brand" href="#">
        <strong>Regalo</strong>
      </a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbRippleRadius>
          <a href="#" class="nav-link">בית</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">כניסה ללקוחות
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main header-->
  <div class="view hm-black-light">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="white-text text-center wow animated animatedFadeInUp fadeInUp">
          <h2>לא יודע/ת איזה מתנה לקנות? Regalo תמצא בשבילך!</h2>
          <h5>חמישה פרטים בלבד, ותוכל לבחור מתוך מגוון של מתנות מותאמות.</h5>
          <br>
          <p>regalo הינה פלטפורמה למציאת מתנות מתוך מגוון של בתי עסק וחנויות, לפי הכנסת פרמטים בודדים והתאמה אישית לכל בנאדם
            ומתן אופציות לבחירה. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main header-->
</header>