
.view {
    width:100%;
    height: 450px;
    background: url("../../../assets/homepage_info2_bg_img.jpg") no-repeat top center;
    background-size: cover;
    opacity: 0.8;
    font-family: "Varela Round";
}