<div class="address">
  <!-- <app-form-group-switcher [control]="selfPickUpControl"
                              (inputChangeCallback)="onToggle()"
                              labelText="registration.address.toggleText">
  </app-form-group-switcher> -->

  <ng-container *ngIf="!selfPickUpControl.value">
    <!-- <app-form-address [cityControl]="cityControl"
                      [neighborhoodControl]="neighborhoodControl"
                      [streetControl]="streetControl"
                      [houseNumberControl]="houseNumberControl"
                      [zipControl]="zipControl"
                      [structureControl]="structureControl"
                      [elevatorControl]="elevatorControl"
                      [floorControl]="floorControl"
                      [apartmentControl]="apartmentControl"
                      [entranceControl]="entranceControl"
                      [notesControl]="notesControl">
    </app-form-address> -->

    <div class="actions">
      <button class="submit" (click)="submit()">המשך לבחירת סיסמה</button>
    </div>
  </ng-container>

<!-- 
  <ng-container *ngIf="selfPickUpControl.value">
    <app-step2-self-pickup-selection></app-step2-self-pickup-selection>
  </ng-container> -->


</div>
