.container {
    padding-top: 120px;
    &.product-view-wrapper {
      position: relative;
    }
  

  .create_account-content {
    display: inline-block;
    width: 393px;
    max-width: 100%;
  }
}