@import './variables';
@import './mixins';
@import './fonts';
@import './btn';
@import './loader';
@import './effects';

/**

 */
.modal.fade {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  margin: 0;
  width: auto !important;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Hebrew', sans-serif;
  color: #4a4a4a;
  direction: rtl;
  text-align: right;
}

body {
  overflow-y: scroll;
}

.container {
  width: 1280px;
  padding: 0px;
  max-width: 9999px;
}

a:hover {
  text-decoration: none;
}

@media(max-width: 1279px){
  .container{
    width: 1024px;
  }
}
@media(min-width: 1440px){
  .container{
    width: 1440px;
  }
}

app-product-card{
  width: 100%;
}

input::-ms-clear {
  display: none;
}


input {
  &:focus {
    outline: #A6C7FF solid 2px;
  }
}


