<div class="step3">
  <div class="password" *ngIf="currentView === viewMode.password">
    <app-form-group-input
      [control]="passwordControl"
      idValue="password"
      [required]="true"
      type="password"
      [maxlength]="10"
      placeholder="registration.password.placeholder_1"
      description="registration.password.description_1"
      requiredError="registration.password.required_1"
      invalidLengthError="registration.password.notValidError"
      invalidPatternError="registration.password.notValidError">
    </app-form-group-input>

    <app-form-group-input
      [control]="verifyPasswordControl"
      idValue="verifyPassword"
      [required]="true"
      type="password"
      [maxlength]="10"
      placeholder="registration.password.placeholder_2"
      requiredError="registration.password.required_2"
      matchPasswordError="registration.password.notEqualError"
      invalidPatternError="registration.password.notValidError"
      invalidLengthError="registration.password.notValidError">
    </app-form-group-input>
    <div class="approve-conditions-section">
      <div class="toggles">
        <!-- <app-form-group-switcher [control]="commercialToggleControl"
                                    (inputChangeCallback)="onCommercialToggle()"
                                    labelText="registration.password.commercialApproval">
        </app-form-group-switcher> -->
      </div>

      <div class="toggles policy d-flex">
        <!-- <app-form-group-switcher [control]="policyConditionsToggleControl"
                                    (inputChangeCallback)="onPolicyToggle()"
                                    [showLabel]="false"
                                    errorMsgRequired="registration.password.approvalPolicyRequiredError">
        </app-form-group-switcher> -->
        <label class="policy-label">{{'registration.password.approvePolicy_1' | rcTranslate}}
          <a [href]="CONSTANTS.LINKS.REGULATIONS" target="_blank">{{'registration.password.approvePolicy_link' |
            rcTranslate}}</a>
          {{'registration.password.approvePolicy_2' | rcTranslate}}
        </label>
      </div>
    </div>

    <div class="actions">
      <button class="submit" (click)="submit()">{{'registration.password.buttonText' | rcTranslate}}</button>
    </div>
  </div>
  <div class="success" *ngIf="currentView === viewMode.success">
    <div *ngIf="source === CONSTANTS.PAGE_SOURCE.CART && false">
      <h1>{{'registration.password.successPage.cartView.mainTitle' | rcTranslate}}</h1>
      <p>{{'registration.password.successPage.cartView.subText' | rcTranslate}}</p>
      <button class="success-button" [routerLink]="['checkout/cart']">{{'registration.password.successPage.buttonText' | rcTranslate}}</button>
    </div>
    <div *ngIf="true">
      <h1>{{'registration.password.successPage.regularView.mainTitle' | rcTranslate}}</h1>
      <p>{{'registration.password.successPage.regularView.subText' | rcTranslate: [firstName]}}</p>
      <section class="action-buttons">
        <div class="search_results-gotocatalogue-wrapper">
          <div  class = "search_results-gotocatalogue" [routerLink]="['/quickbuy/editor']">
            <div class="search_results-gotocatalogue-img editor"></div>
            <div class="search_results-gotocatalogue-text">{{ 'quickBuy.results.backToListEditor' | rcTranslate }}</div>
          </div>
          <div  class = "search_results-gotocatalogue" [routerLink]="['/quickbuy/tags']">
            <div class="search_results-gotocatalogue-img quickBuy"></div>
            <div class="search_results-gotocatalogue-text">{{ 'quickBuy.results.goToQuickBuy' | rcTranslate }}</div>
          </div>
          <div  class = "search_results-gotocatalogue" (click)="goToFullCatalog()">
            <div class="search_results-gotocatalogue-img catalog"></div>
            <div class="search_results-gotocatalogue-text">{{ 'quickBuy.results.goToFullCatalog' | rcTranslate }}</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
