<div *ngIf="appLoaded">
  <!--header-->
  <app-header></app-header>
  <app-header-home-page></app-header-home-page>
  <!--/header-->


  <!--Main Layout-->
  <main class="main-content">
    <div class="container text-right">
      <!--Section: Features v.3-->
      <section class="section feature-box pt-5">

        <app-search-gifts-form
         [eventsOptions]="eventsOptions" 
         [interestsOptions]="interestsOptions"
         [relationshipsOptions]="relationshipsOptions"
         [ageOptions]="ageOptions">
        </app-search-gifts-form>

    </section>
    <!--Section: Features v.3-->
</div>
</main>
<!-- /Main Layout-->

<!--footer-->
<app-footer></app-footer>
<!--/footer-->
</div>